@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Source+Code+Pro:wght@400;600;700&family=Work+Sans:wght@400;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-background: #000;
    --color-foreground: #fff;
  }

  body {
    background-color: theme('colors.black');
    color: theme('colors.white');
    font-family: theme('fontFamily.poppins');
  }

}

@layer utilities {
  @keyframes breathe-spacing {

    0%,
    100% {
      letter-spacing: 10px;
    }

    50% {
      letter-spacing: 9px;
    }
  }

  .animate-breathe {
    animation: breathe-spacing 4s ease-in-out infinite;
  }
}